/*--Estrutura geral do carrosel --*/

body {
	background: #fbfbfb
}

img {
max-width: 128px;
height: 130px;
display: block;
margin-left: auto;
margin-right: auto;
padding: 3px;
text-align: center;
background-color: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	display: inline;
	list-style: none;
}

.bloco {
	background: #ffffff;
	width: 900px;
}

.titulo {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #336699;
	background: #d9e6f2;
	height: 40px;
  width: 700px;
  padding-left: 5px;
  padding-top: 7px;
}

.titulo .p {
	padding: 2px;
	border: 10px;
}

/*--Elemento referencia --*/

.referencia {
	float: left;
	width: 190px;
	padding: 10px;
}

/*-- Formatação do box carrosel/slider --*/

.carrosel {
	list-style: none;
	width: 1000%;
	float: left;
	background: #fff;
	--margin-left: -1200px;
}


.box_carrosel {
	width: 700px;
	position: relative;
	padding: 10px 0px;
	background: #fff;
	height: auto;
	overflow: hidden;
	box-shadow: 0 0 5px 1px;
	color: #ffffff;
}

.box_carrosel .nav {
	top: 150px;
	height: auto;
	position: absolute;
	padding: 0 5px;
	display: table-cell;
	vertical-align: middle;
	color: #a4a8a8;
}

.box_carrosel .nav .p {
	display: inline;
	list-style: none;
	vertical-align: middle;
}

.box_carrosel .nav:hover{
	color: #336699;
}

.box_carrosel .nav.forth {
	right: 0px;
	font-size: 50px;
	box-shadow: -40px 0px 41px -1px rgba(255, 255, 255, 0.79);
}

.box_carrosel .nav.back {
	left: 0px;
	font-size: 50px;
	box-shadow: -30px 0px 41px -1px rgba(255, 255, 255, 0.79);
}
.carrosel .item {
	display: inline;
	float: left;
	width: 190px;
	padding: 10px;
	margin-right: 10px;
	background: #ffffff;
	color: black;
}

/*--Efeito do mouse sobre o item --*/

.item:hover {
	background-image: linear-gradient(#d9e6f2, white);
}
.carrosel .item:hover img{
    border: 3px solid #d9d9d9;
}

/*--Estilo do texto de precificação --*/

.preco {
	color: red;
}

.price {
	color: red;
	font-size: 20px;
	font-weight: bold;
}
